/* Global styles */
button.no-styles {
  background-color: transparent;
  border: none;
  width: auto;
}

main > section {
  margin-bottom: 8rem;
}

/* [data-theme="light"] { */
  ::selection {
    background-color: var(--selection);
    color: #fff;
    /* opacity: 0.2; */
  }
/* } */
/* [data-theme="dark"] {
  & ::selection {
    background-color: rgba(var(--primary-rgb), 0.75);
    color: #fff;
  }
} */